# PostgreSQL
POSTGRES_USER=tu_usuario_db
POSTGRES_PASSWORD=tu_contraseña_db
POSTGRES_DB=tu_nombre_db

# pgAdmin
PGADMIN_DEFAULT_EMAIL=tu_correo@ejemplo.com
PGADMIN_DEFAULT_PASSWORD=tu_contraseña_pgadmin
